<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.university.mapper.StoreupMapper">

    <resultMap type="com.ruoyi.university.domain.Storeup" id="StoreupResult">
        <id property="storeupId" column="storeup_id"/>
        <result property="userId" column="user_id"/>
        <result property="majorId" column="major_id"/>
        <result property="actionType" column="action_type"/>
        <result property="actionTime" column="action_time"/>
    </resultMap>

    <!-- 添加收藏 -->
    <insert id="addStoreup" parameterType="com.ruoyi.university.domain.Storeup">
        INSERT INTO cers_storeup (user_id, major_id, action_type, action_time)
        VALUES (#{userId}, #{majorId}, #{actionType}, now())
    </insert>

    <!-- 删除收藏 -->
    <delete id="deleteStoreup" parameterType="Long">
        DELETE FROM cers_storeup WHERE storeup_id = #{storeupId}
    </delete>

</mapper>
